In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset/지반,지질/2011년_지질구조밀도현황.csv')
df

       regn_cd       info  legend   sig_nam    emd_cd
0     11110101    0.1-0.2       2     서울특별시  11110101
1     11110102    0.1-0.2       2     서울특별시  11110102
2     11110103    0.1-0.2       2     서울특별시  11110103
3     11110104    0.1-0.2       2     서울특별시  11110104
4     11110105    0.1-0.2       2     서울특별시  11110105
...        ...        ...     ...       ...       ...
3027  52800310  0.2 - 0.4       1  전라북도 정읍시  52800310
3028  52800320    0.5-1.0       2  전라북도 김제시  52800320
3029  52800350  0.2 - 0.4       1  전라북도 정읍시  52800350
3030  52800380    0.5-1.0       2  전라북도 김제시  52800380
3031  52800410  0.2 - 0.4       1  전라북도 정읍시  52800410

[3032 rows x 5 columns]

In [4]:
df = df.drop(["emd_cd"], axis=1) 
df

       regn_cd       info  legend   sig_nam
0     11110101    0.1-0.2       2     서울특별시
1     11110102    0.1-0.2       2     서울특별시
2     11110103    0.1-0.2       2     서울특별시
3     11110104    0.1-0.2       2     서울특별시
4     11110105    0.1-0.2       2     서울특별시
...        ...        ...     ...       ...
3027  52800310  0.2 - 0.4       1  전라북도 정읍시
3028  52800320    0.5-1.0       2  전라북도 김제시
3029  52800350  0.2 - 0.4       1  전라북도 정읍시
3030  52800380    0.5-1.0       2  전라북도 김제시
3031  52800410  0.2 - 0.4       1  전라북도 정읍시

[3032 rows x 4 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3032 entries, 0 to 3031
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   regn_cd  3032 non-null   int64
 1   info     3032 non-null   object
 2   legend   3032 non-null   int64
 3   sig_nam  3032 non-null   object
dtypes: int64(2), object(2)
memory usage: 94.9+ KB

In [7]:
df.isna().sum()

regn_cd    0
info       0
legend     0
sig_nam    0
emd_cd     0
dtype: int64

In [8]:
df.dtypes

regn_cd     int64
info       object
legend      int64
sig_nam    object
emd_cd      int64
dtype: object

국내 지반침하

In [18]:
df1 = pd.read_csv('dataset/지반,지질/2024년도_한국_지반침하사고데이터.csv')
df1

,사고번호,사고 시도명,사고 시군구명,상세 발생원인,사고일자,항목순번
0,20240001,서울특별시,성북구,다짐불량,20240103,1
1,20240002,강원특별자치도,고성군,오피스텔 신축공사 현장흙막이벽 내 균열로 인한 지하수 유입에 따른 싱크홀 추정 오후...,20240105,2
2,20240003,강원특별자치도,고성군,24.1.8 오후 4시경 흙막이벽 보수공사 중 크랙발생ccip공사 중 수압으로 흙막...,20240108,3
3,20240006,경기도,용인시 기흥구,인근 광역상수3단계 설치공사 현장 지하수 펌핑에 따른 지반침하 가능성 있음,20240110,4
4,20240007,서울특별시,강남구,하수박스 이설에 따른 빗물받이 연결관 미폐공으로 추정,20240116,5
5,20240009,경기도,파주시,송전선로 매설공사(비개착 공법)에 따른 공동 발생 (추정),20240203,6
6,20240010,경기도,남양주시,우수관(D1000㎜) 파손으로 인한 우수 유출되어 지반 침식으로 싱크홀 발생,20240206,7
7,20240011,서울특별시,성북구,지하연결통로공사 해빙기 토사유실로 추정,20240223,8
8,20230001,부산광역시,사상구,노후 하수시설(U형측구) 파손 등으로 인한 누수 발생에 따른 토사 유실로 지반침하 발생,20230105,1
9,20230002,전북특별자치도,김제시,자연침하,20230102,2
10,20230003,서울특별시,도봉구,건축물 신축 공사장 굴토(철거) 작업장 인근으로 원인 확인중,20230113,3
11,20230004,경상남도,창원시 진해구,다짐불량,20230113,4
12,20230005,경기도,시흥시,흙막이벽체(지하연속벽) 시공이음부 콘크리트 재로분리로 인한 공극부 누수 발생,20230126,5
13,20230007,강원특별자치도,속초시,차수공법 시공 미흡으로 흙막이 벽체 틈 사이로 토사와 지하수가 유출,20230211,6
14,20230008,전라남도,무안군,조사 중,20230203,7
15,20230009,서울특별시,서초구,통신케이블 처짐 및 가시설 미제거에 의한 장기 침하(추정),20230217,8
16,20230010,강원특별자치도,강릉시,NaN,20230227,9
17,20230011,경상북도,경산시,D300mm 주철관 이음부 볼트 체결 약화에 따른 수도 누수로 인하여 경미한 지반 ...,20230305,10
18,20240071,경기도,용인시 기흥구,우수관 혹은 전력관 파손으로 인한 침하 추정,20240825,1

In [31]:
df1 = df1.fillna('원인미상')
df1.isna().sum()

사고번호       0
사고 시도명     0
사고 시군구명    0
상세 발생원인    0
사고일자       0
항목순번       0
dtype: int64

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사고번호    19 non-null     int64
 1   시도      19 non-null     object
 2   시군구     19 non-null     object
 3   상세발생원인  18 non-null     object
 4   발생일자    19 non-null     int64
 5   순번      19 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.0+ KB

In [21]:
df1.isna().sum()

사고번호      0
시도        0
시군구       0
상세발생원인    1
발생일자      0
순번        0
dtype: int64

In [22]:
df1.dtypes

사고번호       int64
시도        object
시군구       object
상세발생원인    object
발생일자       int64
순번         int64
dtype: object

In [7]:
df2 = pd.read_csv('dataset/지반,지질/국내지반_사고현황.csv')
df2

,사고번호,사고 시도명,사고 시군구명,상세 발생원인,사고일자,항목순번
0,20220006,인천광역시,미추홀구,인천 2호선 지하철 공사 진행시 h-beam 근처로 다짐이 부족하여 싱크홀 발생,20161201,1
1,20180018,전북특별자치도,정읍시,농배수로관 노후로 인하여 지반 침하,20180102,1
2,20180019,광주광역시,광산구,하수암거박스 파손에 의한 동공발생 및 지반침하,20180103,2
3,20180020,경상남도,사천시,오수맨홀 주변 토사 유실,20180112,1
4,20180021,충청북도,청주시 흥덕구,하수관 파손에 의한 동공발생 및 지반침하,20180116,2
...,...,...,...,...,...,...
1341,20240096,부산광역시,사상구,지하사고조사위원회에서 원인 조사중,20240921,12
1342,20240101,경기도,파주시,현장 인근 상수도관 파열로 인한 침하,20240909,13
1343,20240102,전북특별자치도,전주시 완산구,지하관로 CCTV 촬영 하였지만 문제점 확인 불가.,20240924,1
1344,20240103,인천광역시,부평구,인근 재개발공사측 굴착공사 관리 미흡,20241004,2
1345,20240104,광주광역시,광산구,노후하수관로 파손으로 인한 지반침하,20241015,3

In [30]:
df2 = df2.fillna('원인미상')
df2.isna().sum()

사고번호       0
사고 시도명     0
사고 시군구명    0
상세 발생원인    0
사고일자       0
항목순번       0
dtype: int64

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1346 entries, 0 to 1345
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     1346 non-null   int64
 1   사고 시도명   1346 non-null   object
 2   사고 시군구명  1346 non-null   object
 3   상세 발생원인  1346 non-null   object
 4   사고일자     1346 non-null   int64
 5   항목순번     1346 non-null   int64
dtypes: int64(3), object(3)
memory usage: 63.2+ KB

In [15]:
df2.isna().sum()

사고번호        0
사고 시도명      0
사고 시군구명     2
상세 발생원인    95
사고일자        0
항목순번        0
dtype: int64

In [16]:
df2.dtypes

사고번호        int64
사고 시도명     object
사고 시군구명    object
상세 발생원인    object
사고일자        int64
항목순번        int64
dtype: object

In [32]:
df3 = pd.merge(df1,df2, how='outer')
df3

,사고번호,사고 시도명,사고 시군구명,상세 발생원인,사고일자,항목순번
0,20180001,서울특별시,강남구,열수송관(D600mm) 노후 손상으로 함몰 발생\n(굴착복구 미흡분야로 관리),20180301,1
1,20180002,서울특별시,송파구,상수관(？300mm)에서 분기된 소화전 연결관(？100mm) 동파로 누수되어 함몰발생,20180304,2
2,20180003,서울특별시,구로구,KT 통신맨홀 슬라브 파손\n(굴착복구 미흡분야로 관리),20180311,3
3,20180004,서울특별시,영등포구,하수관로(D450㎜) 노후？파손으로 토사유실,20180313,1
4,20180005,서울특별시,영등포구,인근 공사차량(레미콘차) 중량에 의한 노후 하수박스 상판파손(하수박스 1946년 부설),20180327,2
...,...,...,...,...,...,...
1360,20240100,경기도,파주시,시트 파일 시공장비로 인한 진동 및 하중에 의해 지반침하 발생 및 실트질의 액상화,20240820,18
1361,20240101,경기도,파주시,현장 인근 상수도관 파열로 인한 침하,20240909,13
1362,20240102,전북특별자치도,전주시 완산구,지하관로 CCTV 촬영 하였지만 문제점 확인 불가.,20240924,1
1363,20240103,인천광역시,부평구,인근 재개발공사측 굴착공사 관리 미흡,20241004,2
1364,20240104,광주광역시,광산구,노후하수관로 파손으로 인한 지반침하,20241015,3

In [33]:
df3.to_csv('dataset/지반,지질/전체 지반사고.csv')

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1365 entries, 0 to 1364
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     1365 non-null   int64
 1   사고 시도명   1365 non-null   object
 2   사고 시군구명  1363 non-null   object
 3   상세 발생원인  1269 non-null   object
 4   사고일자     1365 non-null   int64
 5   항목순번     1365 non-null   int64
dtypes: int64(3), object(3)
memory usage: 64.1+ KB

In [34]:
df3.isna().sum()

사고번호       0
사고 시도명     0
사고 시군구명    0
상세 발생원인    0
사고일자       0
항목순번       0
dtype: int64

상세 원인 구분
1. 다짐 불량
2. 매설물 손상
3. 공사 부실
4. 지하수
5. 연약지반 침하
6. 폐광 붕괴
7. 포장공사 불량

1. 다짐 불량

In [95]:
df_d = df3[df3['상세 발생원인'].str.contains('다짐')]
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 9 to 1321
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     159 non-null    int64
 1   사고 시도명   159 non-null    object
 2   사고 시군구명  159 non-null    object
 3   상세 발생원인  159 non-null    object
 4   사고일자     159 non-null    int64
 5   항목순번     159 non-null    int64
dtypes: int64(3), object(3)
memory usage: 8.7+ KB

2. 매설물 손상
    1) 상수관로
    2) 하수관로
    3) 전기 통신관로
    4) 기타매설물

In [ ]:
df_s = df3[df3['상세 발생원인'].str.contains('손상|파손|폐쇄|파열|크랙|노후|슬래브|누수|통신|관로|지하매설물|기타매설물|맨홀|우수|하수|유실|손궤|이탈')]
df_s.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 0 to 1364
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     897 non-null    int64
 1   사고 시도명   897 non-null    object
 2   사고 시군구명  897 non-null    object
 3   상세 발생원인  897 non-null    object
 4   사고일자     897 non-null    int64
 5   항목순번     897 non-null    int64
dtypes: int64(3), object(3)
memory usage: 49.1+ KB

3. 공사 부실
    1. 굴착 공사
    2. 상하수관 공사
    3. 지하구조물 건설
    4. 기타 매설 공사

In [ ]:
df_g = df3[df3['상세 발생원인'].str.contains('건설|건물|공사|불량|기초세굴|부동침하|시공부실|흙막이|연결|미철거|타공사')]
df_g.info()

<class 'pandas.core.frame.DataFrame'>
Index: 412 entries, 1 to 1363
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     412 non-null    int64
 1   사고 시도명   412 non-null    object
 2   사고 시군구명  412 non-null    object
 3   상세 발생원인  412 non-null    object
 4   사고일자     412 non-null    int64
 5   항목순번     412 non-null    int64
dtypes: int64(3), object(3)
memory usage: 22.5+ KB

In [ ]:
df_u = df3[df3['상세 발생원인'].str.contains('지하수|하천')]
df_u.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 70 to 1359
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     34 non-null     int64
 1   사고 시도명   34 non-null     object
 2   사고 시군구명  34 non-null     object
 3   상세 발생원인  34 non-null     object
 4   사고일자     34 non-null     int64
 5   항목순번     34 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.9+ KB

In [119]:
df_y = df3[df3['상세 발생원인'].str.contains('연약지반|석회암|단순침하|자연침하|잔류')]
df_y.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 73 to 1344
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     37 non-null     int64
 1   사고 시도명   37 non-null     object
 2   사고 시군구명  37 non-null     object
 3   상세 발생원인  37 non-null     object
 4   사고일자     37 non-null     int64
 5   항목순번     37 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.0+ KB

In [120]:
df_p = df3[df3['상세 발생원인'].str.contains('우천|호우|파랑|토탄층')]
df_p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, 46 to 1358
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     54 non-null     int64
 1   사고 시도명   54 non-null     object
 2   사고 시군구명  54 non-null     object
 3   상세 발생원인  54 non-null     object
 4   사고일자     54 non-null     int64
 5   항목순번     54 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.0+ KB

In [102]:
df_p = df3[df3['상세 발생원인'].str.contains('포장')]
df_p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 41 to 1233
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     22 non-null     int64
 1   사고 시도명   22 non-null     object
 2   사고 시군구명  22 non-null     object
 3   상세 발생원인  22 non-null     object
 4   사고일자     22 non-null     int64
 5   항목순번     22 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.2+ KB

In [107]:
df_p = df3[df3['상세 발생원인'].str.contains('토사 유실|토사유실')]
df_p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, 3 to 1358
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     202 non-null    int64
 1   사고 시도명   202 non-null    object
 2   사고 시군구명  202 non-null    object
 3   상세 발생원인  202 non-null    object
 4   사고일자     202 non-null    int64
 5   항목순번     202 non-null    int64
dtypes: int64(3), object(3)
memory usage: 11.0+ KB

In [ ]:
df_p = df3[df3['상세 발생원인'].str.contains('포장')]
df_p.info()

In [64]:
df_m = df3[df3['상세 발생원인'].str.contains('원인미상|불명|기타|명확하지 않음|알수없음')]
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 53 to 1334
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     47 non-null     int64
 1   사고 시도명   47 non-null     object
 2   사고 시군구명  47 non-null     object
 3   상세 발생원인  47 non-null     object
 4   사고일자     47 non-null     int64
 5   항목순번     47 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.6+ KB

-----------------------------------------

In [90]:
df_n = df3[df3['상세 발생원인'].str.contains('원도심')]
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 349 to 421
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     20 non-null     int64
 1   사고 시도명   20 non-null     object
 2   사고 시군구명  20 non-null     object
 3   상세 발생원인  20 non-null     object
 4   사고일자     20 non-null     int64
 5   항목순번     20 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.1+ KB

In [88]:
df_h = df3[df3['상세 발생원인'].str.contains('중량|잔류|초과하중')]
df_h.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 4 to 1122
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사고번호     11 non-null     int64
 1   사고 시도명   11 non-null     object
 2   사고 시군구명  11 non-null     object
 3   상세 발생원인  11 non-null     object
 4   사고일자     11 non-null     int64
 5   항목순번     11 non-null     int64
dtypes: int64(3), object(3)
memory usage: 616.0+ bytes