In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('C:/Users/mkmy7/OneDrive/바탕 화면/Earthquake_DA\Earthquake-Korea-DataAnalysis/dataset/최종데이터셋/대책현황/원자력발전소/한국원자력발전소_지진감시이력.csv', encoding='euc-kr')
df

,구분,지역,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,"1/1,000g 초과지진동횟수",고리,NaN,NaN,1.0,NaN,NaN,2.0,0,0,0,0,1,0,0,0
1,"1/1,000g 초과지진동횟수",한울,1.0,1.0,NaN,NaN,2.0,1.0,1,1,0,2,0,0,0,0
2,"1/1,000g 초과지진동횟수",월성,NaN,NaN,1.0,3.0,1.0,NaN,0,0,0,0,0,0,0,0
3,"1/1,000g 초과지진동횟수",한빛,NaN,2.0,NaN,2.0,1.0,1.0,0,0,1,1,0,0,0,0

In [10]:
df = df.fillna(int(0))
df

,구분,지역,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,"1/1,000g 초과지진동횟수",고리,0.0,0.0,1.0,0.0,0.0,2.0,0,0,0,0,1,0,0,0
1,"1/1,000g 초과지진동횟수",한울,1.0,1.0,0.0,0.0,2.0,1.0,1,1,0,2,0,0,0,0
2,"1/1,000g 초과지진동횟수",월성,0.0,0.0,1.0,3.0,1.0,0.0,0,0,0,0,0,0,0,0
3,"1/1,000g 초과지진동횟수",한빛,0.0,2.0,0.0,2.0,1.0,1.0,0,0,1,1,0,0,0,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      4 non-null      object
 1   지역      4 non-null      object
 2   2000    4 non-null      float64
 3   2001    4 non-null      float64
 4   2002    4 non-null      float64
 5   2003    4 non-null      float64
 6   2004    4 non-null      float64
 7   2005    4 non-null      float64
 8   2006    4 non-null      int64
 9   2007    4 non-null      int64
 10  2008    4 non-null      int64
 11  2009    4 non-null      int64
 12  2010    4 non-null      int64
 13  2011    4 non-null      int64
 14  2012    4 non-null      int64
 15  2013    4 non-null      int64
dtypes: float64(6), int64(8), object(2)
memory usage: 640.0+ bytes

In [12]:
df.to_csv('한국원자력발전소_지진감시이력_EDA.csv', index=False, encoding='utf-8')